<nqd-hash-binder [(ngModel)]="fullText"></nqd-hash-binder>

<div id="initial-input">
    <input [(ngModel)]="fullText"
           placeholder="(טקסט לניקוד)">
</div>

<ul *ngIf="letters && letters.length" class="hebrew-text">
    <li class="hebrew-text-letterblock" *ngFor="let letter of letters"
        [class.is-selected]="selectedLetter == letter"
        (click)="letterClicked(letter)">
        {{letter.representation}}
    </li>
</ul>

<nqd-niqqud-keyboard *ngIf="selectedLetter" [selectedLetter]="selectedLetter"></nqd-niqqud-keyboard>
