<nqd-hash-binder [(ngModel)]="fullText"></nqd-hash-binder>

<div id="input-container">
    <div id="initial-input"
         contenteditable="true"
         [(contenteditableModel)]="fullText"
         placeholder="(יֵשׁ לְהַקְלִיד כָּאן)">
    </div>
    <div id="initial-input-placeholder">(יֵשׁ לְהַקְלִיד כָּאן)</div>

    <div id="click-hint"
          [class.is-shown]="showClickHint">
          <span id="click-hint-text">יֵשׁ לִלְחֹץ עַל הָרִבּוּעִים:</span>
    </div>
</div>

<ul *ngIf="letters && letters.length" class="hebrew-text">
    <li class="hebrew-text-letterblock" *ngFor="let letter of letters"
        [class.is-selected]="selectedLetter == letter"
        [class.is-disabled]="!letter.applicableNiqqudByGroups || !letter.applicableNiqqudByGroups.length"
        (click)="letterClicked(letter)">
        {{letter.representation}}
    </li>
</ul>

<nqd-niqqud-keyboard *ngIf="selectedLetter" [selectedLetter]="selectedLetter"></nqd-niqqud-keyboard>
